*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(31, 30, 30);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    max-width: 1000px;
}

.product_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 15px #FFF3F2;
    border-radius: 8px;
    padding: 1em;
    transition: transform 0.3s ease;
}

.product_container:hover{
    transform: scale(1.1);
}

.icon_container{
    align-self: flex-end;
    padding-bottom: .5em;
}

.icon_container > i{
    color: #F4A6A0;
}

.img_container{
    width: 100%;
}

.img_container > img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.description_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.description_container > button{
    background-color: #F4A6A0;
    border: none;
    padding: .9em 2.4em;
    font-size: .9rem;
    border-radius: 5px;
}

.description_container > button:hover{
    background-color: #F5BAB4;
}

@media screen and (max-width: 805px){
    section{
        flex-direction: column;
    }
    
    .img_container{
       max-width: 300px;
    }
}